@tailwind base;
@tailwind components;
@tailwind utilities;

.hamburger-menu {
  @apply flex flex-col justify-center items-center lg:hidden cursor-pointer;

  span {
    @apply block h-0.5 w-6 bg-white rounded-sm transition-all duration-300 ease-out;

    &:nth-child(2) {
      @apply my-0.5 transition-none;
    }
  }

  &.is-open {
    span:first-child {
      @apply rotate-45 translate-y-1;
    }

    span:nth-child(2) {
      @apply opacity-0;
    }

    span:last-child {
      @apply -rotate-45 -translate-y-1;
    }
  }
}

@layer components {
  .container {
    @apply w-full mx-auto max-w-[1440px] px-5;
  }
  h1 {
    font-size: 100px;
    line-height: 100px;
  }
  h2 {
    font-size: 64px;
    line-height: 72px;
  }
  h3 {
    font-size: 52px;
    line-height: 60px;
  }
  h4 {
    font-size: 32px;
    line-height: 44px;
  }
  h5 {
    font-size: 28px;
    line-height: 36px;
  }
  h6 {
    font-size: 24px;
    line-height: 32px;
  }
}

.gradient-border {
  height: 1px;
  width: 100%;
  background-image: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.137) 0, hsla(0, 0%, 85%, 0) 100%);
}

.gradient-text-base {
  background: linear-gradient(199deg, #fff, hsla(0, 0%, 100%, 0.17));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.swiper {
  width: 100%;
  height: 100%;
  overflow: hidden; /* Ensure no overflow issues */
}

.swiper-slide {
  display: flex; /* Align content properly */
  justify-content: center;
  align-items: center;
  font-size: 18px;
  height: auto; /* Allow dynamic sizing for content */
}

.swiper-slide img {
  display: block;
  width: 80%; /* Adjust size for better spacing */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover;
  border-radius: 10px; /* Add a bit of styling */
}

.carouselverticalone {
  animation: looping 10s linear 0s infinite none;
}

.verticalcolumnone {
  max-height: 750px;
  height: 750px;
  width: 200px;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(transparent, black 20%, black 80%, transparent 100%);
  mask-image: linear-gradient(transparent, black 20%, black 80%, transparent 100%);
}

.stroke-text {
  -webkit-text-stroke: 1px var(--stroke-color, white);
  -webkit-text-fill-color: transparent;
}

@keyframes looping {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-100%);
  }
}

@media only screen and (max-width: 360px) {
  .verticalcolumnone {
    max-height: 350px;
    height: 350px;
    width: 100px;
  }
}

.carouselverticaltwo {
  animation: looping 12s linear 0s infinite none reverse;
  animation-direction: reverse;
}

.verticalcolumntwo {
  max-height: 750px;
  height: 750px;
  width: 200px;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(transparent, black 20%, black 80%, transparent 100%);
  mask-image: linear-gradient(transparent, black 20%, black 80%, transparent 100%);
}

@keyframes looping {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-100%);
  }
}

@media only screen and (max-width: 360px) {
  .verticalcolumntwo {
    max-height: 350px;
    height: 350px;
    width: 100px;
  }
}
